<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <h1 class="error-code">404</h1>
  <p>Something going wrong...</p>
  <%- include('./partials/link.ejs') %>
</body>
</html>